1. How do you comment code in Python? What are the different types of comments?

ans: A comment is part of coding file  which programar make readable and explain a certain block of code and section or provide additional information.And comment has two types of comments single line comment and multi line comment. 
*single line comment: Anything written after hash (#) in single line is known as single line comment. 
*multi line comment: Anything written in mutlipule qoutes (""") is known as multi line comment.

Q2. What are variables in Python? How do you declare and assign values to variables?

ans: A variables are named location which contains data in computer's memory or container which contains a data is known as vriable. 
*We choose any alphabetic or numeric value as vaiable and use assignment operator to assign a value.

In [3]:
# example
name=("ishwar")
age=21

Q3. How do you convert one data type to another in Python?

In [4]:
a=("1234")

In [5]:
a

'1234'

In [6]:
int(a)

1234

Q4. How do you write and execute a Python script from the command line?

In [ ]:
(base) jovyan@d2a16f6227db:~/work$ python first.py
hello world

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]

In [6]:
my_list=[1,2,3,4,5]

In [7]:
my_list

[1, 2, 3, 4, 5]

In [14]:
(my_list[1:3])

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In complex number 2+3i 2and3 are real number and i is imaginary number iota.
In python j is known as imaginary number

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [1]:
age=25

In [2]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to?

In [3]:
price=9.99

In [5]:
type(price)

float

the data type of price is floating point number

Q9.Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable?

In [6]:
name=("ishwar biradar")

In [8]:
print(name)

ishwar biradar

Q10. Given the string "Hello, World!", extract the substring "World".

In [10]:
a="hello world"

In [11]:
a

'hello world'

In [13]:
a[5:11]

' world'

Q11.Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not.

In [14]:
is_student=True

In [15]:
print(is_student)

True